
@media (max-width: 576px) {
    .margin-group {
        margin-bottom: 5px;
    }
    #rc1 {
        display: None;
    }
    .short_v{
        display: inline-block;
    }
    .full_v{
        display: None;
    }
    .ing-list{
        position:sticky;
        bottom:10px;
        left: 2.5%;
        width:95%;
        border: 2px solid #4e4e52;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        z-index:100;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }
    .title{
        font-size:1.5rem;
    }
    .comments-section-standard{
        display: None;
    }
    .ingredient-section-standard{
        display: None;
    }
    #explanation {
        font-size: 2.7vw;
    }
    #question {
        font-size: 4vw;
        animation-name: moveQ;
    }

}
@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
        margin: auto;
    }
    .ing-btns {
        position: absolute;
        bottom: 10px;
    }
    #rc1 {
        display: None;
    }
    .ing-list{
        position:sticky;
        bottom:10px;
        margin:auto;
        width:95%;
        border: 2px solid #4e4e52;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        z-index:100;
        max-width:35rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }
    .short_v{
        display: None;
    }
    .title{
        font-size:1.7rem;
    }
    .comments-section-small{
        display: None;
    }
    .ingredient-section-small{
        display: None;
    }
    .search-box{
        width: 190px !important;
    }
    #explanation {
        font-size: 1rem;
    }
    #question {
        font-size: 1.5rem;
    }
}
@media (min-width: 768px) {
    .card-columns {
        column-count: 1;
        margin: auto;
    }
    .ing-btns {
        position: absolute;
        bottom: 10px;
    }
    .flt {
        float: right;
    }
    #rc1 {
        display: flex;
    }
    #rc2 {
        display: None;
    }
    #explanation{
        font-size: 1.4rem;
    }
    #question {
        font-size: 2.2rem;
    }
}
@media (min-width: 992px) {
    .card-columns {
        column-count: 2;
    }
    .ing-btns {
        position: absolute;
        bottom: 10px;
    }
    .ing-list{
        position:fixed;
        bottom:10px;
        right:10px;
        width:370px;
        border: 3px solid #4e4e52;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        z-index:100;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .list-item{
        margin-bottom:1rem;
    }
    #explanation{
        font-size: 1.8rem;
    }
    #question {
        font-size: 2.8rem;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 2;
    }
    .ing-btns {
        position: absolute;
        bottom: 10px;
    }
    .title{
        font-size: 2.5rem;
    }
    #explanation{
        font-size: 2rem;
    }
    #question {
        font-size: 3rem;
    }
}
@media {
    html {
        height: 100%;
        box-sizing: border-box;
    }
    body {
        position: relative;
        margin: 0;
        padding-bottom: 11rem;
        min-height: 100%;
        }
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    .footer {
        position: absolute;
        font-size: 1rem;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #5ce6a3;
        padding: 1rem;
        text-align: center;
    }
    
    .copyright{
        font-size: 1.2rem;
        color:dimgray;
    }
      
    .icon {
       margin: 0 2rem 0 2rem;
    }

    @keyframes shadow {
        from {opacity: 1;}
        to {opacity: 0.6;}
    }
    .animated {
        object-fit: cover;
        border-radius: 10px;
        opacity:1;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }
    @keyframes move{
        from {top: 10%; opacity: 0;}
        to {top: 50%; opacity: 1;}
    }
    .moving{
        position:absolute;
        top:10%;
        left:50%;
        transform: translate(-50%, -50%);
        animation-duration: 3s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    .img-box{
        position:relative;
        background:black;
        border-radius: 10px;
    }

    .title-img-box{
        position:relative;
        background: linear-gradient(#5ce6a3, #9198e5);
    }

    #explanation {
        position:absolute;
        top:65%;
        padding-left:20px;
        padding-right:20px;
        font-family:Serif;
        text-shadow: white 0px 0px 20px;
    }

    @keyframes moveQ{
        from {left: 20%; opacity: 0;}
        to {left: 50%; opacity: 1;}
    }

    #question{
        position:absolute;
        top:90%;
        left:50%;
        transform: translate(-50%, -50%);
        overflow:hidden;
        opacity:0;
        font-family:Serif;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }
}