{% extends 'main/base.html' %}

{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block content %}

    <div class="col-8 mx-auto">

    {% if title %}
        <h1>{{ title }}</h1>
    {% endif %}

    <br>

    <form method="POST" action=""> {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                  {% for error in form.non_field_errors %}
                    {{ error }}
                  {% endfor %}
                </div>
            {% endif %}

            <div class="fieldWrapper mb-3">
                <h4>{{ form.recipe_name.label_tag }}</h4>
                {% if form.is_bound %}
                    {% if form.recipe_name.errors %}
                        {% render_field form.recipe_name class="form-control is-invalid" %}
                        {% for error in form.recipe_name.errors %}
                            <div class="invalid-feedback">
                              {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.recipe_name class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.recipe_name class="form-control" %}
                {% endif %}
            </div>


            <h4>List of ingredients:</h4>
            <div class="alert alert-info" role="alert">
                Add ingredients by browsing <a href="/products" class="alert-link">food cards</a> or use multiple choice menu below.
            </div>

            {{ formset.management_form }}
            {% for form in formset %}
            <div class="row form-row spacer">
                <div class="col-3">
                    {{form.ingredient|as_crispy_field}}
                </div>
                <div class="col-4">
                    <div class="input-group">

                        {% if form.is_bound %}
                            {% if form.quantity.errors %}
                                {% render_field form.quantity class="form-control is-invalid" %}
                                {% for error in form.quantity.errors %}
                                    <div class="input-group-append">
                                        <button class="btn btn-danger remove-form-row">-</button>
                                    </div>
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% render_field form.quantity class="form-control is-valid" %}
                                <div class="input-group-append">
                                    <button class="btn btn-danger remove-form-row">-</button>
                                </div>
                            {% endif %}
                        {% else %}
                            {% render_field form.quantity class="form-control" %}
                            {% if form.ingredient.value in added %}
                                <div class="input-group-append">
                                    <button class="btn btn-danger remove-form-row">-</button>
                                </div>
                            {% else %}
                                <div class="input-group-append">
                                    <button class="btn btn-success add-form-row">+</button>
                                </div>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>
            </div>
            {% endfor %}



            <div class="fieldWrapper">
                <h4>{{ form.directions.label_tag }}</h4>
                {{ form.directions }}
            </div>

        <button type="submit" class="btn btn-primary my-3">Create</button>
    </form>
        <p><b>Results:</b> <span id="results"></span></p>
    </div>
    <script>
      function showValues() {
        var fields = $( ":input" ).serializeArray();
        $( "#results" ).empty();
        jQuery.each( fields, function( i, field ) {
            if(i>5)
                $( "#results" ).append( i + " " + field.value + " " );
        });
      }
      $( "select" ).change( showValues );
      showValues();
    </script>

{% endblock %}