{% extends 'main/base.html' %}

<script>
    {% block jquery %}

    var endpoint = '/api/data/'
    var defaultData = []
    var labels = [];
    $.ajax({
         method: "GET",
         url: endpoint,
         success: function(data){
            labels = data.labels
            defaultData = data.default
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'how many times',
                    data: defaultData,
                    }]
                },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                                beginAtZero: true
                                }
                            }]
                        }
                    }
                })
            },
         error: function(error_data){
            console.log(error_data)
         }
    })




    {% endblock %}
</script>

{% block content %}
<div class="container">
<div class="row">
    <div class="col-sm-12" >
        <h1>Hi chart</h1>
        <canvas id="myChart" width="400" height="400"></canvas>
        <canvas id="myCanvas" width="200px" height="200px" style="border:1px solid #000"></canvas>
        <script>
            const canvas = document.getElementById("myCanvas");
            const context = canvas.getContext("2d");
            const blobCount = 10;
            const colors = new Array('red','purple','yellow','blue','green','orange','pink','black');
            let blobs = new Array();
            class Blob {
                constructor(color, size){
                    this.x = Math.random() * canvas.width;
                    this.y = Math.random() * canvas.height;
                    this.color = color;
                    this.size = size;
                    this.xChange = Math.random();
                    this.yChange = Math.random();
                }
                move(){
                    if ((this.x + this.size) >= canvas.width || (this.x - this.size) <= 0) {
                    this.xChange *= -1
                    }
                    if((this.y + this.size) >= canvas.height || (this.y - this.size) <= 0){
                        this.yChange *= -1
                    }
                    this.x = this.x + this.xChange;
                    this.y = this.y + this.yChange;
                }
                draw(){
                    context.beginPath();
                    context.arc(this.x, this.y, this.size, 0, 2*Math.PI);
                    context.fillStyle = this.color;
                    context.fill();
                    context.stroke();
                }
            }

            function randomChoice(arr){
                return arr[Math.floor(Math.random()*arr.length)]
            }

            for (let i=0; i<blobCount; i++){
                let randomColor = randomChoice(colors);
                blobs.push(new Blob(randomColor, 25))
            }

            function canvasDraw(){
                context.clearRect(0, 0, canvas.width, canvas.height);
                blobs.forEach(function(obj){
                    obj.draw();
                    obj.move();
                })
            }
            setInterval(canvasDraw, 10);
        </script>
    </div>
</div>
</div>
{% endblock %}