<!--Script toggling active state of nav-items-->
<script type="text/javascript">
  $(document).ready(function() {
  $('li.active').removeClass('active');
  console.log(location.pathname.substr(0, location.pathname.length - 1))
  $('a[href="' + location.pathname.substr(0, location.pathname.length - 1) + '"]').closest('li').addClass('active');
  });
</script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container-fluid container-xl">
    <a class="navbar-brand" href="/">Meal Configurator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/recipes">Recipes <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add-recipe" tabindex="-1">Add recipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">Ingredients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact-us">Contact us</a>
        </li>

        {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="btn btn-danger" href="/account">{{user.username}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout?next={% firstof request.path '/' %}">Logout</a>
          </li>

        {% else %}

          <li class="nav-item">
            <a class="btn btn-danger" href="/register">Join</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/login?next={% firstof request.path '/' %}">Login</a>
          </li>

        {% endif %}
      </ul>

      <!-- Attach tooltip explaining possibility to search for ingredients when user is on /products/-->

      {% if request.path|slice:"10" == '/products/' %}
      <form method='GET' class="form-inline my-2 my-lg-0" action="/products">
        <input class="search-box form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" id="ING" type="submit" data-toggle="tooltip" data-placement="bottom" title="Search for ingredients!">Search</button>
      </form>
      <script type="text/javascript">
        $('#ING').tooltip({offset:'0, 10px'})
        $('#ING').tooltip('show')
        setTimeout( function(){$('#ING').tooltip('hide');}, 4000);
      </script>
      {% else %}
      <form method='GET' class="form-inline my-2 my-lg-0" action="/search">
        <input class="search-box form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      {% endif %}
    </div>
  </div>
</nav>

