{% extends 'main/base.html' %}


{% block content %}
<br>
{% load static %}

{% if query %}


<div class='row title-row my-5'>
    <div class='col-12 py-0 mx-auto'>
        <h3 class='text-center'>{{ count }} results for <b>{{ query }}</b></h3>
        {% if not count %}
        <h4 class="text-center my-5">If you can't find ingredient you need, <a href="/contact-us">contact us</a> or use <a href="/products/add">this form</a> to add one.</h4>
        {% endif%}
    </div>
</div>

<div class="row">
        {% for ing in ingredients %}
        <div class="col-mb-5 mx-auto"> <!-- mx-auto looks better but breaks symmetry in last row, consider when multiple ingredients -->
            <div class="card mb-3 ml-3" style="max-width: 40rem;">
              <div class="row no-gutters">

                <div class="col-md-4 my-auto">
                  <img src="{{ ing.image.url }}" class="card-img">
                </div>

                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ing.name}}</h5>
                      <p class="card-text text-muted">Caloric value : <b>{{ ing.calval }}</b> cal/100g</p>
                      <p class="card-text text-muted mb-5">Price : <b>{{ ing.price }}</b> pln/kg</p>

                    <div class="container ing-btns">
                      <div class="row">
                          {% if ing.name not in added %}
                          <form action="." method="post">{% csrf_token %}
                              <button type="submit" class="btn btn-outline-success margin-group mr-2" name="add" value="added">Add to your recipe</button>
                              <input type="hidden" name='ingredient' value="{{ing.name}}">
                          </form>
                          {% else %}
                          <form action="." method="post">{% csrf_token %}
                              <button type="submit" class="btn btn-outline-danger margin-group mr-2" name="delete" value="deleted">Delete from recipe</button>
                              <input type="hidden" name='ingredient' value="{{ing.name}}">
                          </form>
                          {% endif %}

                          <a href="{{ ing.get_absolute_url }}"><button type="button" class="btn btn-outline-info margin-group mr-2">See details</button></a>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
        </div>
        {% endfor %}
</div>


{% else %}
<div class="row">
  <div class="col">
    <nav>
      <div class="nav nav-tabs nav-fill nav-justified" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">All</a>
        {% for category in foodcategories %}
          <a class="nav-item nav-link" id="nav-{{category.slug}}-tab" data-toggle="tab" href="#nav-{{category.slug}}" role="tab" aria-controls="nav-{{category}}" aria-selected="false">{{category}}</a>
        {% endfor %}
      </div>
    </nav>
  </div>
</div>


<!--TERRIBLY WET SECTION! DRY IT ASAP! -->

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="row">
        <div class="card-columns">
            {% for prod in products %}
            <div class="col"> <!-- mx-auto looks better but breaks symmetry in last row, consider when multiple ingredients -->
                <div class="card mb-3" style="max-width: 40rem;">
                  <div class="row no-gutters">

                    <div class="col-4 my-auto">
                      <img src="{{ prod.image.url }}" class="card-img">
                    </div>

                    <div class="col-8">
                      <div class="card-body">
                        <h5 class="card-title">{{prod.name}}</h5>
                        <p class="card-text text-muted">Caloric value : <b>{{ prod.calval }}</b> cal/100g</p>
                        <p class="card-text text-muted mb-5">Price : <b>{{ prod.price }}</b> pln/kg</p>
                        <div class="container">
                          <div class="row mt-auto">
                              {% if prod.name not in added %}
                              <form action="." method="post">{% csrf_token %}
                                  <button type="submit" class="btn btn-outline-success margin-group mr-2" name="add" value="added">Add to your recipe</button>
                                  <input type="hidden" name='ingredient' value="{{prod.name}}">
                              </form>
                              {% else %}
                              <form action="." method="post">{% csrf_token %}
                                  <button type="submit" class="btn btn-outline-danger margin-group mr-2" name="delete" value="deleted">Delete from recipe</button>
                                  <input type="hidden" name='ingredient' value="{{prod.name}}">
                              </form>
                              {% endif %}
                              <a href="{{ prod.get_absolute_url }}">
                                  <button type="button" class="btn btn-outline-info margin-group mr-2">See details</button>
                              </a>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
  </div>

  {% for category in foodcategories %}
  <div class="tab-pane fade" id="nav-{{category.slug}}" role="tabpanel" aria-labelledby="nav-{{category.slug}}-tab">
    <!-- maybe some category info here, but better dont mess with it now -->
      <div class="card-columns">
          {% for prod in products %}
            {% if prod.category == category %}
            <div class="col-mb-5">
                <div class="card mb-3" style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-4 my-auto">
                      <img src="{{ prod.image.url }}" class="card-img">
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <h5 class="card-title">{{prod.name}}</h5>
                        <p class="card-text text-muted">Caloric value : <b>{{ prod.calval }}</b> cal/100g</p>
                        <p class="card-text text-muted mb-5">Price : <b>{{ prod.price }}</b> pln/kg</p>
                          <div class="container ing-btns">
                          <div class="row">
                              {% if prod.name not in added %}
                              <form action="." method="post">{% csrf_token %}
                                  <button type="submit" class="btn btn-outline-success margin-group mr-2" name="add" value="added">Add to your recipe</button>
                                  <input type="hidden" name='ingredient' value="{{prod.name}}">
                              </form>
                              {% else %}
                              <form action="." method="post">{% csrf_token %}
                                  <button type="submit" class="btn btn-outline-danger margin-group mr-2" name="delete" value="deleted">Delete from recipe</button>
                                  <input type="hidden" name='ingredient' value="{{prod.name}}">
                              </form>
                              {% endif %}
                              <a href="{{prod.get_absolute_url}}">
                                  <button type="button" class="btn btn-outline-info margin-group">See details</button>
                              </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            {% endif %}
          {% endfor %}
      </div>
  </div>
  {% endfor %}
</div>

{% endif %}

{% if added %}
<div style="position:fixed; bottom:10px; right:10px; width:370px; border: 3px solid #4e4e52; border-radius: 20px; background-color: rgba(255, 255, 255, 0.8); z-index:100;">
    <h1 class="text-center mt-1">Ingredient list</h1><br/>
    <ul>
      {% for ing in added %}
        <li>{{ing}}</li></br>
      {% endfor %}
    </ul>
    <div class="row no-gutters mb-2">
        <div class="col ml-3 m-2">
            <a href="/add-recipe"><button type="button" class="btn btn-success">Create recipe</button></a>
        </div>
        <div class="col m-2">
            <a href="/search-by-ingredients/{{added|join:'&'}}"><button type="button" class="btn btn-info">Search for recipe</button></a>
        </div>
        <div class="col align-self-center m-2">
            <form action="." method="post">{% csrf_token %}
                <button type="submit" class="btn btn-danger" name="clear" value="cleared">Clear all</button>
            </form>
        </div>
    </div>
</div>
{% endif %}


{% endblock %}