{% extends 'main/base.html' %}

{% block content %}
{% load static %}

  <br>
  {% if not product.accepted %}
    <div class="col-sm-12">
        <div class="alert alert-danger my-5">This ingredient has not been yet accepted by the admin, so it won't be displayed on a main page. However, you can still add it to your recipe.</div>
    </div>
  {% endif %}
  <div class="card mx-auto" style="width: 50rem;">
    <div class="card-body">
      <div class="row">
        <div class="col-md-5">
          <img src="{{ product.image.url }}" class="img-fluid">
           <div class="collapse multi-collapse mt-1" id="multiCollapseExample1">
            <div class="card card-body">
              <strong>Recipes containing {{product.name}}</strong><br>
              <ul>
              {% for recipe in recipes_containing %}
              <li><a href="/recipes/{{recipe.recipe_slug}}">{{recipe.recipe_name}}</a></li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-7">

          <div class="row">

            <div class="col">
              <h3 class="card-title">{{ product.name }}</h3>
            </div>
            <div class="col">
              {% if product.name not in added %}
                <form action="." method="post">{% csrf_token %}
                  <button type="submit" class="btn btn-outline-success m-1" name="add" value="added">Add to your recipe</button>
                </form>
              {% else %}
                <form action="." method="post">{% csrf_token %}
                  <button type="submit" class="btn btn-outline-danger m-1" name="delete" value="deleted">Delete from recipe</button>
                </form>
                {% endif %}
            </div>

          </div>

          <p class="card-text mb-2 text-muted">Price : <b>{{product.price}}</b> pln/kg</p>
          <p class="card-text text-muted">Caloric value : <b>{{ product.calval }}</b> cal/100g<br></p>

              <button class="btn btn-info mx-1 my-5" type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample2">Browse recipies</button>

              <button class="btn btn-info mx-3 my-5" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Nutrional value</button>

          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
              <canvas id="myChart" width="10" height="10"></canvas>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Carbs', 'Fats', 'Proteins'],
        datasets: [{
            label: 'g/100g',
            data: [{{product.total_carbs}}, {{product.total_fat}}, {{product.total_proteins}}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{

                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
{% endblock %}