{% extends 'main/base.html' %}


{% load static %}
{% block content %}

<div class="row">
    {% if not recipe.accepted %}
    <div class="col-sm-12">
        <div class="alert alert-danger my-5">This recipe has not been yet accepted by the admin, so it won't be displayed on a main page. However you can still share the link above or even make some <a href="edit">changes.</a></div>
    </div>
    {% endif %}
<div class="col-12 col-sm-4 order-2 order-sm-2">
    <div class="ingredient-section-standard">
        {% include 'main/ingredient_section.html' %}
    </div>
    <br>
    <ul class="list-group">
        <li class="list-group-item text-center" style="background-color: rgba(237, 237, 237, 0.8)"><strong>Additional Info</strong></li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-7">Calories per serving:</div>
                <div class="col-5">{{recipe.calories_per_serving}} cal</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-7">Price per serving:</div>
                <div class="col-5">{{recipe.price_per_serving}} pln</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-7">Preparation time:</div>
                <div class="col-5">{{recipe.preparation_time}} minutes</div>
            </div>
        </li>

    </ul>
    <br>
    <ul class="list-group my-3">
        <li class="list-group-item text-center" style="background-color: rgba(237, 237, 237, 0.8)"><strong>Macronutrients profile [1 serving]</strong></li>
        <li class="list-group-item"><canvas id="myChart" width="10" height="10"></canvas></li>
    </ul>

    <div class="comments-section-small">
        {% include 'main/comments_section.html' %}
    </div>

</div>

<div class="col-12 col-sm-8 order-1 order-sm-2">
    <img src="{{recipe.recipe_image.url}}" class="img-fluid mx-auto my-3 d-block" >
    <h1>{{recipe.recipe_name}}</h1>
    <div class="ingredient-section-small">
        {% include 'main/ingredient_section.html' %}
    </div>
    <small> {{recipe.recipe_posted}}</small>

    {{recipe.directions|safe}}
    <br>

    <div class="comments-section-standard">
        {% include 'main/comments_section.html' %}
    </div>

</div>

<script src="{% static 'main/js/recipeDetails.js' %}"></script>
    <script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Carbs', 'Fats', 'Proteins'],
        datasets: [{
            label: 'g/100g',
            data: {{nutrients}},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{

                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
</div>
{% endblock %}