{% extends 'main/base.html' %}


{% block content %}
{% load static %}

{% if count == -1 %}
<div class="jumbotron mt-5">
    <h1 class="display-4 mb-5">Search page</h1>
    <p class="lead">Please, enter keyword in search bar above.</p>
    <hr class="my-4">
    <p> All recipes containing searched word in title or description will be displayed. If you want to find particular ingredient, try using search bar bar from this <a href="/products">page</a>.</p>
</div>

{% else %}

{% if query %}

    <div class='row title-row my-5'>
        <div class='col-12 py-0 mx-auto'>
            {% if counter == 1 %}
                <h2 class='my-0 py-0'>{{ count }} results for <b>{{ query }}</b></h2>
            {% else %}
                <h2 class='my-0 py-0'>{{ count }} results for <b>{{ query }}</b></h2>
            {% endif %}
        </div>
    </div>

{% endif %}

{% if count == 0 %}

    <h3> Use other keywords or try searching recipes by ingrediends.</h3>

{% elif not count or count > 1 %}
<form method="get" action="">
    <div class="form-row mb-3">
        <div class="col-1 mx-auto">
            <strong>Order by:</strong>
        </div>
        <div class="col-4 mx-auto">
            <select class="form-control" name="filter" id="filter">
                <option value="recipe_posted">Date</option>
                <option value="calories_per_serving">Calories</option>
                <option value="price_per_serving">Price</option>
                <option value="preparation_time">Preparation time</option>
            </select>
        </div>
        <div class="col-3 mx-auto">
            <div class="form-check form-check-inline">
                <!-- Check this warnings, how to make it work legal way? -->
                <input class="form-check-input" type="radio" name="ord" id="desc" value="desc" {{desc}}>
                <label class="form-check-label" for="desc">
                Descending
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="ord" id="asc" value="asc" {{asc}}>
                <label class="form-check-label" for="asc">
                Ascending
                </label>
            </div>
        <input type="hidden" name="q" value="{{query}}">

        </div>
        <button type="submit" class="btn btn-outline-secondary mx-auto">Apply</button>
    </div>
</form>

{% endif %}

<div class="row">
    <div class="card-columns">
    {% for recipe in recipes %}

    <div class="col mx-auto">
        <div class="card mb-3 mr-3">
          <div class="row no-gutters">
            <div class="col-sm-6 my-auto">
              <img src="{{recipe.recipe_image.url}}" class="card-img">
            </div>
            <div class="col-sm-6">
              <div class="card-body">
                <h4 class="card-title">{{recipe.recipe_name}}</h4>
                  <p>{{recipe.recipe_posted}}</p>
                  <p class="card-text text-muted">Caloric value : <b>{{ recipe.calories_per_serving}}</b> cal/serving</p>
                  <p class="card-text text-muted">Price : <b>{{recipe.price_per_serving}}</b> pln/serving</p>
                  <p class="card-text text-muted"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                  <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                  </svg> &nbsp <b>{{recipe.preparation_time}}</b> min</p>
                  {% if recipe.height_field  >  recipe.width_field %}
                  <div class="container" style="position:absolute; bottom:20px;">
                      <a href="/recipes/{{recipe.recipe_slug}}"><button type="button" class="btn btn-outline-info">See details</button></a>
                      {% if currentuser == recipe.user %}
                      <a href="{{recipe.recipe_slug}}/edit"><button type="button" class="btn btn-outline-info">Edit</button></a>
                      {% endif %}
                  </div>
                  {% else %}
                      <a href="/recipes/{{recipe.recipe_slug}}"><button type="button" class="btn btn-outline-info">See details</button></a>
                      {% if currentuser == recipe.user %}
                      <a href="{{recipe.recipe_slug}}/edit"><button type="button" class="btn btn-outline-info">Edit</button></a>
                      {% endif %}
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
        </div>
</div>
<script>
    let currently_picked = '{{ordered_by}}';
    $('#filter').val(currently_picked);
</script>

{% endif %}
{% endblock %}