{% extends "main/base.html" %}

{% block content %}

{% for data, query, counter in recipes %}

{% if query %}

{% if forloop.counter0 == 0 %}
<h5 class="my-5"> *You can also look for recipes with particular title lub keywords, for this purpose use search box above. </h5>
{% endif %}

{% if forloop.counter0 == 1 %}
<div class="alert alert-danger text-center mt-5" role="alert">
    <h3><strong>Recipes below do not contain one of desired ingredients.</strong></h3>
</div>
{% endif %}

<!-- Do not show partial matches without results -->
{% if counter or not forloop.counter0 %}

<div class='row title-row my-5'>
    <div class='col-12 py-0 mx-auto'>
        {% if counter == 1 %}
        <h3 class='my-0 py-0'><strong>{{counter}}</strong> result for recipes containing
            {% else %}
            <h3 class='my-0 py-0'><strong>{{counter}}</strong> results for recipes containing
                {% endif %}
        {% for ing in query %}
            {% if not forloop.last %}
                <strong>{{ing}}, </strong>
            {% else %}
                <strong>{{ing}}. </strong>
            {% endif %}
        {% endfor %}

        </h3>
        {% if not counter %}
        <h5 class="my-5">Please, consider <a href="/add-recipe">adding</a> new recipe if you find a way to combine this ingredients.</h5>
        {% endif %}
    </div>
</div>


<div class="row">
    <div class="col">
        {% for recipe, missing in data %}
        <div class="card my-3">
          <div class="row no-gutters">
            <div class="col-md-4 my-auto">
                <img src="{{recipe.recipe_image.url}}" class="card-img">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                  <div class="row">
                      <div class="col">
                        <h3 class="card-title">{{recipe.recipe_name}}</h3>
                          <p> {{recipe.recipe_posted}}</p>
                          <p>{{recipe.directions|truncatewords_html:44|safe}}</p>
                          <a href="/recipes/{{recipe.recipe_slug}}"><button type="button" class="btn btn-outline-info">See details</button></a>
                          {% if currentuser == recipe.user %}
                            <a href="{{recipe.recipe_slug}}/edit"><button type="button" class="btn btn-outline-info">Edit</button></a>
                          {% endif %}
                      </div>
                      <div class="col">
                          <p class="text-muted">Caloric value : <b>{{ recipe.calories_per_serving}}</b> cal/serving</p>
                          <p class="card-text text-muted" >Price : <b>{{ recipe.price_per_serving }}</b> pln/serving</p>
                          <p class="text-muted"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                          <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                          </svg> &nbsp <b>{{recipe.preparation_time}}</b> min</p>
                          {% if missing %}
                              <p style="font-size:1.5em;">This recipe contains also:</p>
                              {% for ingredient in missing %}
                              <div class="alert alert-secondary" role="alert">
                                  {{ ingredient}}
                              </div>
                              {% endfor %}
                          {% else %}
                              <div class="alert alert-primary" role="alert">
                                  You have all needed ingredients.
                              </div>
                          {% endif %}
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% else %}
<div class="jumbotron">
    <h1 class="display-4">Search page</h1>
    <p class="lead">By using this feature you can find best available recipes to combine particular ingredients into one tasty meal!  </p>
    <hr class="my-4">
    <p>Pick foods you want to cook with and use search button below ingredients list.</p><br>
    <a class="btn btn-secondary btn-lg" href="/products" role="button">Choose ingredients</a>
</div>
{% endif %}
{% endfor %}
{% endblock %}