@media (max-width: 576px) {
    .margin-group {
        margin-bottom: 5px;
    }
    #rc1 {
        display: None;
    }
    .short_v{
        display: inline-block;
    }
    .full_v{
        display: None;
    }
    .ing-list{
        position:sticky;
        bottom:10px;
        left: 2.5%;
        width:95%;
        border: 2px solid #4e4e52;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        z-index:100;
    }
    .title{
        font-size:1.5rem;
    }
    .comments-section-standard{
        display: None;
    }
    .ingredient-section-standard{
        display: None;
    }
}
@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
        margin: auto;
    }
    .ing-btns {
        position: absolute;
        bottom: 10px;
    }
    #rc1 {
        display: None;
    }
    .ing-list{
        position:sticky;
        bottom:10px;
        margin:auto;
        width:95%;
        border: 2px solid #4e4e52;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        z-index:100;
        max-width:35rem;
    }
    .short_v{
        display: None;
    }
    .title{
        font-size:1.7rem;
    }
    .comments-section-small{
        display: None;
    }
    .ingredient-section-small{
        display: None;
    }
    .search-box{
        width: 190px !important;
    }
}
@media (min-width: 768px) {
    .card-columns {
        column-count: 1;
        margin: auto;
    }
    .ing-btns {
        position: absolute;
        bottom: 10px;
    }
    .flt {
        float: right;
    }
    #rc1 {
        display: flex;
    }
    #rc2 {
        display: None;
    }
}
@media (min-width: 992px) {
    .card-columns {
        column-count: 2;
    }
    .ing-btns {
        position: absolute;
        bottom: 10px;
    }
    .ing-list{
        position:fixed;
        bottom:10px;
        right:10px;
        width:370px;
        border: 3px solid #4e4e52;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        z-index:100;
    }
    .list-item{
        margin-bottom:1rem;
    }
}
@media (min-width: 1200px) {
    .card-columns {
        column-count: 2;
    }
    .ing-btns {
        position: absolute;
        bottom: 10px;
    }
    .title{
        font-size: 2.5rem;
    }
}

